@model Atestados.Objetos.Dtos.ArchivoDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obligatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obligatorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atestado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atestado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArchivoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
