@model Atestados.Objetos.Dtos.AtestadoDTO

@{
    ViewBag.Title = "Ver";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<link href="~/Views/css/Atestado.css" rel="stylesheet" type="text/css" />

<style>

    textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10vh;
    }

    .table-wraper {
        display: block;
    }

    .scrollbar-atestados {
        position: relative;
        height: 250px;
        overflow: auto;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h2>Grados académicos</h2>
        <hr />
    </div>
    <div class="row w-100">
        <div class="col-lg-6">
            <!-- columna izquierda -->
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    Grado Académico
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CatalogoTipo)
                </dd>

                <dt>
                    Universidad
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lugar)
                </dd>

                <dt>
                    Año
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha.FechaFinal)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Enlace)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Enlace)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>

            </dl>
        </div>
        <div class="col-lg-4">
            <!-- columna derecha -->
            <div class="row table-wraper scrollbar-atestados">
                <h4>Archivos</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Archivos)
                        {
                            <tr>
                                <td>
                                    @item.Nombre
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Editar", "Editar", new { id = Model.AtestadoID }) |
            @Html.ActionLink("Regresar", "Crear")
        </p>
    </div>
</div>

