<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Bootstrap Core CSS Escencial para estructar pantalla de logueo-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS Escencial para estructar pantalla de logueo-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/icons.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body class="bgLogin">
    <div id="main" class="container body-content">
        <!--Navegacion-->
        <!-- Navegacion -->
        <nav id="navHeader" class="navbar navbar-inverse navbar-fixed-top gradientNew altoHeader" role="navigation">
            <div class="container">
                <!-- Logo TEC -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand img-responsive" href="@Url.Action("Index", "Login")">
                        <img src="~/Content/img/logotec_blanco.png" alt="">
                    </a>
                </div>
                <!-- Fin Logo TEC -->
                <!-- Menu Up -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"> </a></li>
                    </ul>
                </div>
                <!-- Fin Menu Up-->
            </div>

            <!-- Fin container de navegación -->
        </nav>
        <!-- Fin Navegacion-->
        <!--Cuerpo de Aplicacion-->
        @RenderBody()
        <!--Fin Cuerpo de Aplicacion-->
        <!--Footer-->
        @RenderPage("~/Views/Shared/Footer.cshtml")
        <!--Fin Footer-->

    </div>
    <script type="text/javascript">
        var rootDir = "";
        var rootDirImage = "@Url.Content("~/")";
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Utilitarios/Mensajes.js"></script>
    <script src="~/Scripts/Utilitarios/loadingoverlay.min.js"></script>

    @RenderSection("scripts", required: false)
    <!--Valores-->
    <input type="hidden" id="contAutenticarUsuario" value="@Url.Action("ValidarUsuario", "Login")">
    <input type="hidden" id="contAutenticarUsuario" value="@Url.Action("PaginaInvalida", "Login")">
    @*@Html.Hidden("RedirectTo", Url.Action("Index", "Home"))*@
</body>

</html>
