@model Atestados.Objetos.Dtos.UsuarioDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="contenedorLogueo" class="contenedorLogueo">


    <div class="container">
        <div id="imgLogTec"></div>
        <div id="datosLogueo" class="d-flex justify-content-between">
            <div class="p-1">
            </div>
            <div class="p-1">
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="row bordesTitulo">
                                <div id="nombreAppPortal" style="max-width: 350px;" class="col-sm-12 text-center"><h4>Sistema Informático para la Recepción de Atestados</h4></div>
                            </div>
                            <!--Form de Logueo de aplicación-->
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                        <form role="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { placeholder = "Nombre", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { placeholder = "Primer apellido", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { placeholder = "Segundo apellido", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { placeholder = "Teléfono", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { type="password", placeholder = "Contraseña", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                            </div>

                            <div style="margin-bottom: 15px; margin-top: 10px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.EditorFor(model => model.ConfirmarContrasena, new { htmlAttributes = new { type = "password", placeholder = "Repetir contraseña", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmarContrasena, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Crear Cuenta" class="btn btn-default" id="submit" />
                                </div>
                            </div>
                        </form>


                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1">
            </div>
        </div>
        <br />
        <br />
    </div>

    <!-- Modal Validación de datos ingresados -->
    <div id="popValidacion" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header popupmodalFallido">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Problemas de logueo</h4>
                </div>
                <div class="modal-body">
                    <p class="popMensaje"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Fallido -->
    <div id="popFallo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header popupmodalFallido">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aviso</h4>
                </div>
                <div class="modal-body">
                    <p class="popMensaje"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<br />
<br />

<!--Script de logueo-->
<script src="~/Scripts/Controllers/Login_v131.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161814653-1"></script>
<script>
 //Script del analytics
</script>
