@model IEnumerable<Atestados.Objetos.Dtos.AtestadoDTO>

@{
        /**/

        ViewBag.Title = "Libros";
}

<h2>Libros</h2>

<p>
    @Html.ActionLink("Agregar", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroAutores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoEditorial.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoEditorial.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha.FechaFinal)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroAutores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoEditorial.Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoEditorial.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha.FechaFinal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.AtestadoID }) |
            @Html.ActionLink("Ver", "Ver", new { id = item.AtestadoID }) |
            @Html.ActionLink("Borrar", "Borrar", new { id = item.AtestadoID })
        </td>
    </tr>
}

</table>
